*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-color: black;
}
li {
	list-style-type: none;
	flex-wrap:wrap;
}
@media all and (max-width: 768px) {

*{ 
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

main{
	height: 100vh;
	background-color: #e5e5e5;
	margin: 0;
	display: flex;
}
.parent{
	margin: auto;
	background-color: white;
	width: 68%;
	height: 51%;
	padding: 5%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius:80px;
    border-bottom-left-radius: 20px;
} 
.head{
	display: flex;
	width: 90%;
	margin-bottom: 1%;
	/*justify-content: space-between;*/
}
.middle{
    height: 3rem;
	width: 100%;
	display: flex;
	flex-wrap:nowrap;
}
input{
    width: 90%;
    height: 100%;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid #e5e5e5;
    font-size: 17px;
    font-family: Poppins;
    font-weight: bolder;
    padding-left: 6px;
    cursor: pointer;
}

 input:active, input:focus {

    outline-color:rgba(136,78,255,1);
    font-family: poppins;
}

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {

    -webkit-appearance:none;
}

    ::placeholder {

    color:rgba(36,36,36,0.6) ;
    font-weight: bolder;
    font-size:18px;
    font-family: poppins;
}
    
    .last {
/*    border: 1px solid black;*/
    height: 1rem;
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom:13%;
	align-items: center;
}
    
    p {
    width: 5rem;
	font-size: 7px;
    color: red;
    font-family: Poppins;
    font-weight: bolder;
    display: none;
/*    border: 1px solid green;*/
}

    #dem, #dem1, #dem2 { 
     display: flex;
     height: 14px;
     align-items: center;
            width: 5.1rem;
            font-size: 7px;
            font-family: poppins;
            font-weight: bolder;
            font-weight: 500;
            word-spacing: 0.5px;
            color: #D51E1E;
            justify-content: space-between;
          }
    
    #day1, #mon1, #year1 {
    font-size: 8.5px;
    color: rgba(36, 36, 36, 0.9);
    font-family: poppins;
    font-weight: bolder;
    letter-spacing: 2px;
    }

    #day1 {
    	padding-right: 26.5%;
    }
    #mon1 {
    	padding-right: 16%;
    }

    table, td,tr {
/*    	border: 1px solid blue;*/
    	font-family: Poppins;
    	font-size: 30px;
    	font-weight: bolder;
    	font-style: italic;
    	line-height: 1;
        letter-spacing: -2.5px;
    }

    #resultYear, #resultMonth, #resultDay {
    	color: RGB(179 99 230);
    	padding-right: 5 px;
        font-family: Poppins;
    	font-size: 40px;
    	font-weight: bolder;
    	font-style: italic;
        float: right;
        padding-top: 3px;
	letter-spacing: 1px
    }

    button {
        margin-left: 38.5%;
        transform: translateY(-25px);
        height: 3.3rem;
        width: 3.3rem;
        border-radius: 50%;
        border: none;

    }

    #submitButton {
        background-color: rgb(136,78,255);
        cursor: pointer;
        border: none;
    }

    img {
        height: 1.5rem;
    }

    #submitButton:hover {
        background-color: rgb(19,19,19);
    }
   .body-container {
	margin-top:-2%
   }

}

@media all and (min-width: 769px) { 
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
main {
    background-color: #e5e5e5;
    height: 99vh;
	margin: 0 15%;
	display: flex;
}
.parent {
	padding: 4%;
	margin: auto;
	background-color: white;
	width: 58%;
	height: 67%;
	border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius:120px ;
    border-bottom-left-radius: 30px;
}
.head {
    display: flex;
	width: 93%;
	margin-bottom: 0.3%;
}
input {
    width: 80%;
    height: 100%;
    justify-content: space-between;
    border-radius: 3px;
    border: 1px solid #BBBFC2;
    font-size: 25px;
    font-family: Poppins;
    font-weight: bolder;
    padding-left: 7px;
    cursor: pointer;
}

input:active, input:focus {

    outline-color:rgba(136,78,255,0.8);
    font-family: poppins;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {

    -webkit-appearance:none;
}

::placeholder {

    color:rgba(36,36,36,0.6) ;
    font-weight: bolder;
    font-size:25px;
    font-family: poppins;
}

.middle {
    height: 3.5rem;
	width: 93%;
	display: flex;
}
.last {
    height: 1rem;
	width: 90%;
	display: flex;
    justify-content: space-between;
	align-items: center;
	margin-bottom: 5.5%;
}

p {
	font-size: 10px;
    color: red;
    font-family: poppins;
    width: 7.9rem;
    font-weight: bolder;
    width: 9rem;
    display: none;

}

#day1, #mon1, #year1 {
    font-size: 12px;
    color: rgba(36, 36, 36, 0.8);
    font-family: poppins;
    font-weight: bolder;
    letter-spacing: 2px;
}
 #day1 {
    	padding-right: 28%;
}
#mon1 {
    	padding-right: 22%;
}

table, td, tr {

    	font-family: Poppins;
    	font-size: 55px;
    	font-weight: bolder;
    	font-style: italic;
    	line-height: 1;
    	letter-spacing: -2.5px;
/*    	border: 1px solid red;*/
}
#resultYear, #resultMonth, #resultDay {
    color: RGB(179 99 230);
    font-family: Poppins;
    font-size: 70px;
    font-weight: bolder;
    font-style: italic;
    float: right;
    padding-top: 10px;
    padding-right: 5px;
}

.body-container {
    	margin-top: 7%;
}
  

button {

        float: right;
        transform: translateY(-35px);
        height: 4.7rem;
        width: 4.7rem;
        border-radius: 50%;
        border: none;
    
}

#submitButton {
        background-color: rgb(136,78,255);
        cursor: pointer;
        border: none;
}

img {
        height: 2.2rem;
}

#submitButton:hover {
        background-color: rgb(19,19,19);
}

#dem, #dem1, #dem2 { 
        display: flex;
        height: 14px;
        width: 9.7rem;
        font-size: 0.65rem;
        font-family: poppins;
        font-weight: bolder;
        font-weight: 500;
        word-spacing: 0.5px;
        color: #D51E1E;
        justify-content: space-between;
    
}
}



